*{margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{background-color: #C6F1F5;
     background-size: cover;
     height: 100vh;
     background-position: left;    
}

.header{background-color: #C6F1F5;
}

h1{ font-size: 80px;
    font-family: 'VT323', monospace;
    color: #D4BFFF;
    text-align: center;
    opacity: 0.5;
    text-decoration: black;
}

.navbar{text-align: center;
}
