*{margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{background-color: #C6F1F5;
     background-size: cover;
     height: 100vh;
     background-position: left;
     
}

.header{background-color: #C6F1F5;
}

h1{ font-size: 80px;
    font-family: 'VT323', monospace;
    color: #D4BFFF;
    text-align: center;
    opacity: 0.5;
    text-decoration: black;
}

.playerselection{width: 100%;
                height: 550px;
                background: none;
}

.fa {background-position: center;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube{
  background: red;
  color: white;
}